body {
    font-family: monospace;
}
ul {
    font-family: helvetica;
}

li {
    list-style: circle;
}
.list {
    list-style: square;
}


.light-theme {
    --bg: var(--green);
    --btnBg: var(--black);
    --btnfontcolor: var(--white);
    --fontcolor: var(--black); 
}
.dark-theme {
    --bg: var(--black);
    --btnBg: var(--white)
    --font-color: var(--green);
    --btnfontcolor:var(--black);
}
:root {
    --green: #00ff00;
    --white: #ffffff;
    --black: #000000;
}
* {
    color: var(--fontcolor);
    font-family: helvetica;
}

body {
    background : var(--bg);
}
.btn {
    position:absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: none;
    color: var(--btnFontcolor);
    background-color: var(--btnBg);
}
.btn:focus { outline-style: none;}